<main class="container">
    <h2>Objetivo</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Valor Alvo</th>
                <th>Progresso Atual</th>
                <th>Descrição da Receita</th>
                <th>Valor da Receita</th>
                <th>Data da Receita</th>
                <th>Tipo da Receita</th>
                <th>Descrição do Investimento</th>
                <th>Valor do Investimento</th>
                <th>Prazo do Investimento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umobjetivo of listaObjetivos">
                <td>{{umobjetivo.valorAlvo}}</td>
                <td>{{umobjetivo.progressoAtual}}</td>
                <ul *ngFor="let umaReceita of umobjetivo.listaReceitas"
                >
                    <li>{{umaReceita.descricao}} - {{umaReceita.valor}} - {{umaReceita.data}} - {{umaReceita.tipo}}</li>
                </ul>
                <ul *ngFor="let umaDespesa of umobjetivo.listaInvestimentos"
                >
                    <li>{{umaDespesa.descricao}} - {{umaDespesa.valor}} - {{umaDespesa.prazo}}</li>
                </ul>
            </tr>
        </tbody>
    </table>
</main>