<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="form-cartao.component.css" />
  </head>
  <body>
    <div class="carto-novo-editar">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="overlap">
            <img class="icone-home" src="img/icone-home.png" />
            <div class="meus-cartoes">Meus Cartões</div>
            <div class="div">
              <div class="botao-cartoes"></div>
              <div class="ver-cartoes">Ver Cartões</div>
              <img class="icone-cartao" src="img/icone-cartao.png" />
            </div>
          </div>
          <div class="campo-cartao-nome"></div>
          <div class="campo-cartao"></div>
          <div class="campo-cartao-cvv"></div>
          <div class="campo-numero-cartao"></div>
          <div class="campo-conta"></div>
          <div class="campo-bandeira"></div>
          <div class="nome-banco">Nome do Banco:</div>
          <div class="numero-cartao">Número do Cartão:</div>
          <div class="cvv">CVV:</div>
          <div class="validade">Validade:</div>
          <div class="conta">Conta:</div>
          <div class="bandeira">Bandeira:</div>
          <div class="cancelar-wrapper"><div class="cancelar">Cancelar</div></div>
          <div class="salvar-wrapper"><div class="salvar">Salvar</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
