<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="receita.component.css" />
  </head>
  <body>
    <div class="receita">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="plano-fundo"></div>
          <div class="header"></div>
          <img class="icone-home" src="img/icone-home.png" />
          <div class="minhas-receitas">Minhas Receitas</div>
          <div class="botao-despesa"></div>
          <div class="ver-despesa">Ver Despesas</div>
          <img class="icone-despesa" src="img/icone-despesa.png" />
          <div class="botao-adicionar"></div>
          <div class="adicionar">Adicionar</div>
          <div class="campo-fixas"></div>
          <div class="campo-avulsas"></div>
          <img class="linha" src="img/linha-28.svg" />
          <img class="img" src="img/linha-18.svg" />
          <img class="linha-2" src="img/linha-9.svg" />
          <img class="linha-3" src="img/linha-25.svg" />
          <img class="linha-4" src="img/linha-21.svg" />
          <img class="linha-5" src="img/linha-7.svg" />
          <img class="linha-6" src="img/image.svg" />
          <img class="linha-7" src="img/linha-3.svg" />
          <img class="linha-8" src="img/linha-26.svg" />
          <img class="linha-9" src="img/linha-16.svg" />
          <img class="linha-9" src="img/linha-13.svg" />
          <img class="linha-10" src="img/linha-24.svg" />
          <img class="linha-11" src="img/linha-29.svg" />
          <img class="linha-12" src="img/linha-10.svg" />
          <img class="linha-13" src="img/linha-4.svg" />
          <img class="linha-14" src="img/linha-20.svg" />
          <img class="linha-15" src="img/linha-5.svg" />
          <img class="linha-16" src="img/linha-23.svg" />
          <img class="linha-17" src="img/linha-11.svg" />
          <img class="linha-18" src="img/linha-12.svg" />
          <img class="linha-19" src="img/linha-27.svg" />
          <img class="linha-20" src="img/linha-14.svg" />
          <img class="linha-21" src="img/linha-2.svg" />
          <img class="linha-22" src="img/linha-17.svg" />
          <img class="linha-23" src="img/linha.svg" />
          <img class="linha-23" src="img/linha-6.svg" />
          <img class="linha-24" src="img/linha-8.svg" />
          <img class="linha-25" src="img/linha-19.svg" />
          <img class="linha-26" src="img/linha-15.svg" />
          <img class="linha-27" src="img/linha-22.svg" />
          <div class="descricao">Descrição</div>
          <div class="data">Data</div>
          <div class="valor">Valor</div>
          <div class="banco">Banco</div>
          <div class="editar">Editar/Excluir</div>
          <div class="text-wrapper">Descrição</div>
          <div class="div">Data</div>
          <div class="valor-2">Valor</div>
          <div class="banco-2">Banco</div>
          <div class="editar-excluir">Editar/Excluir</div>
          <div class="banco-fixas">Nubank</div>
          <div class="valor-fixas">R$3000,00</div>
          <div class="data-fixas">31/12/9999</div>
          <div class="descricao-fixas">Salário Hengst</div>
          <div class="banco-avulsas">Nubank</div>
          <div class="valor-avulsas">R$200,00</div>
          <div class="data-avulsas">31/12/9999</div>
          <p class="descricao-avulsas">Trabalho por fora para Zezinho</p>
          <img class="editar-2" src="img/editar-1.png" />
          <img class="excluir" src="img/excluir-1.png" />
          <img class="editar-3" src="img/editar-2.png" />
          <img class="excluir-2" src="img/excluir-2.png" />
          <div class="avulsas">Avulsas</div>
          <div class="fixas">Fixas</div>
        </div>
      </div>
    </div>
  </body>
</html>
