<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="form-receita.component.css" />
  </head>
  <body>
    <div class="receita-novo-editar">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="overlap">
            <img class="icone-home" src="img/icone-home.png" />
            <div class="minhas-receitas">Minhas Receitas</div>
            <div class="div">
              <div class="botao-receitas"></div>
              <div class="ver-receitas">Ver Receitas</div>
              <img class="icone-receita" src="img/icone-receita.png" />
            </div>
          </div>
          <div class="overlap-2">
            <div class="descricao">Descrição</div>
            <div class="data">Data</div>
            <div class="valor">Valor</div>
            <div class="banco">Banco</div>
            <div class="tipo">Tipo</div>
            <div class="overlap-3">
              <img class="linha" src="img/linha-3.svg" />
              <img class="img" src="img/linha-4.svg" />
              <img class="linha-2" src="img/linha.svg" />
              <img class="linha-3" src="img/linha-2.svg" />
              <img class="linha-4" src="img/image.svg" />
            </div>
          </div>
          <div class="cancelar-wrapper"><div class="cancelar">Cancelar</div></div>
          <div class="salvar-wrapper"><div class="salvar">Salvar</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
<main class="container">
    <h2>Receita</h2>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="txtdescricao">Descrição</label>
                <input type="text" [(ngModel)]="receita.descricao" class="form-control" name="descricao" id="txtdescricao">

                <label for="txtvalor">Valor</label>
                <input type="number" [(ngModel)]="receita.valor" class="form-control" name="valor" id="txtvalor">

                <label for="txtdata">Data</label>
                <input type="date" [(ngModel)]="receita.data" class="form-control" name="data" id="txtdata">

                <label for="txttipo">Tipo</label>
                <input type="text" [(ngModel)]="receita.tipo" class="form-control" name="tipo" id="txttipo">

                <label for="txtconta">Conta</label>
                <input type="text" [(ngModel)]="receita.conta.numero" class="form-control" name="conta" id="txtconta" placeholder="Número da Conta">

                <label for="txtcartao">Cartão</label>
                <input type="text" [(ngModel)]="receita.cartao.numero" class="form-control" name="cartao" id="txtcartao" placeholder="Número do Cartão">
            </div>
        </div>
        <button (click)="salvar()" class="btn btn-primary">Salvar</button>
    </div>
</main>
