<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="form-receita.component.css" />
  </head>
  <body>
    <div class="receita-novo-editar">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="overlap">
            <img class="icone-home" src="img/icone-home.png" />
            <div class="minhas-receitas">Minhas Receitas</div>
            <div class="div">
              <div class="botao-receitas"></div>
              <div class="ver-receitas">Ver Receitas</div>
              <img class="icone-receita" src="img/icone-receita.png" />
            </div>
          </div>
          <div class="overlap-2">
            <div class="descricao">Descrição</div>
            <div class="data">Data</div>
            <div class="valor">Valor</div>
            <div class="banco">Banco</div>
            <div class="tipo">Tipo</div>
            <div class="overlap-3">
              <img class="linha" src="img/linha-3.svg" />
              <img class="img" src="img/linha-4.svg" />
              <img class="linha-2" src="img/linha.svg" />
              <img class="linha-3" src="img/linha-2.svg" />
              <img class="linha-4" src="img/image.svg" />
            </div>
          </div>
          <div class="cancelar-wrapper"><div class="cancelar">Cancelar</div></div>
          <div class="salvar-wrapper"><div class="salvar">Salvar</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
