<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<div class="alerta-pagamento">
  <div class="overlap-group-wrapper">
    <div class="overlap-group">
      <div class="header">
        <div class="header-top">
          <button (click)="home()" class="btn-home"><i class="bi bi-house-door-fill"></i> Home</button>
          <a (click)="novo()" class="btn-add"><i class="bi bi-plus-lg"> Nova Alerta de Pagamento</i></a>
          <button (click)="irParaDespesa()" class="btn-view"><i class="bi bi-cash-coin"></i> Ver Despesas</button>
        </div>
        <h1 class="title">Meus Alertas</h1>
      </div>

      <div class="tables-section">
        <div class="table-card">
          <div class="tabela-receitas-wrapper">
            <table class="table tabela-receitas">
              <thead>
                <tr>
                  <th>Descrição</th>
                  <th>DataVencimento</th>
                  <th>Status</th>
                  <th>Banco</th>
                  <th>Editar/Excluir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let umalertapagamento of listaAlertaspagamento">
                  <td>{{umalertapagamento.descricao}}</td>
                  <td>{{umalertapagamento.dataVencimento}}</td>
                  <td>{{umalertapagamento.status}}</td>
                  <td>{{umalertapagamento.conta.banco}}</td>
                  <td>
                    <a (click)="alterar(umalertapagamento)" class="icon-btn editar">
                      <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a (click)="abrirConfirmacao(umalertapagamento)" class="icon-btn excluir">
                      <i class="bi bi-eraser-fill"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal fade" #myModal tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Excluir Conta</h5>
            </div>
            <div class="modal-body">
              Confirma a exclusão da conta?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
