<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="conta.component.css" />
  </head>
  <body>
    <div class="conta">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="overlap">
            <img class="icone-home" src="img/icone-home.png" />
            <div class="div">
              <div class="boto-cartoes"></div>
              <div class="ver-cartoes">Ver Cartões</div>
              <img class="icone-cartao" src="img/icone-cartao.png" />
            </div>
            <div class="minhas-contas">Minhas Contas</div>
            <div class="adicionar-wrapper"><div class="adicionar">Adicionar</div></div>
          </div>
          <div class="overlap-2">
            <div class="div-2"></div>
            <div class="banco">Banco</div>
            <div class="agencia">Agência: 0001</div>
            <div class="numero-conta">Conta: 123456-7</div>
            <img class="editar" src="img/editar.png" />
            <img class="excluir" src="img/excluir.png" />
          </div>
          <div class="element-conta"></div>
          <div class="element-conta-2"></div>
          <div class="element-conta-3"></div>
        </div>
      </div>
    </div>
  </body>
</html>
