<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<main class="container limite-gastos">
    <div class="overlap-group-wrapper">
        <div class="overlap-group">
            <div class="header">
        <div class="header-top">
          <button (click)="home()" class="btn-home"><i class="bi bi-house-door-fill"></i>Home</button>
          <button (click)="irParaLimiteGastos()" class="btn-view"><i class="bi bi-exclamation-triangle"></i> Ver Limites de Gastos</button>
        </div>
        <h1 class="title">Meus Limites de Gastos</h1>
      </div>
            <div class="formulario-limite">
                <div class="form-group">
                    <label for="txtvalorLimite">Valor Limite</label>
                    <input type="number" [(ngModel)]="limitegastos.valorLimite" class="form-control"
                        name="valorLimite" id="txtvalorLimite">

                    <label for="txtdespesaDescricao">Descrição da Despesa</label>
                    <input type="text" [(ngModel)]="limitegastos.despesa.descricao" class="form-control"
                        name="despesaDescricao" id="txtdespesaDescricao">

                    <label for="txtdespesaValor">Valor da Despesa</label>
                    <input type="number" [(ngModel)]="limitegastos.despesa.valor" class="form-control"
                        name="despesaValor" id="txtdespesaValor">

                    <label for="txtdespesaData">Data da Despesa</label>
                    <input type="date" [(ngModel)]="limitegastos.despesa.data" class="form-control"
                        name="despesaData" id="txtdespesaData">

                    <label for="txtdespesaTipo">Tipo da Despesa</label>
                    <input type="text" [(ngModel)]="limitegastos.despesa.tipo" class="form-control"
                        name="despesaTipo" id="txtdespesaTipo">
                </div>
                <div class="botoes">
                    <button (click)="cancelar()" class="btn btn-secundario">Cancelar</button>
                    <button (click)="salvar()" class="btn btn-primario">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</main>
